p{
    font-family: 'swansea', sans-serif;
    color: aqua;
}

:root {
    --pink-color :#E830DE;
    --blue-color : #0ABEFF;
    --darkBlue-color :#2A2356;
    --violet-color : #5835E7;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    background: var(--darkBlue-color);

}
.wrapper{
    max-width: 1271px;
    margin :0 auto;
}
header{
   
    height: 100vh;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 1440px;
    z-index: 100;
    background-color: var(--darkBlue-color);
    box-shadow: 0px 2px 4px rgba(165, 156, 200, 0.5);
    padding: 37px 0 ;

}

nav ul{
    display: flex;
    align-items: center;
    gap: 32px; /* space between each element */
    list-style: none;
    margin: 0;


}

nav ul li a{

    font-family: 'Swansea',sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 36px;
    text-decoration: none;
    text-align: center;
    color: #FFFDFD;
}

.button{
    padding: 16px 32px;
    border-radius: 40px;
    color: var(--darkBlue-color);
    display: inline-block;
    font-weight: 600;
    font-size: 23px;
    background: var(--pink-color);
    text-decoration: none;
    text-align: center;
    font-family: 'Inter',sans-serif;
}
nav .button{
    margin-left: 40px;
}

.hero-section{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-section .left h2{
    font-weight: 400;
    font-size: 60px;
    line-height: 54px;
    color: #FFFFFF;
    font-family: 'DEBUG FREE TRIAL',sans-serif;
    margin-top: 140px;
    width: 563px;
}

.hero-section .left p{
    font-family: 'DEBUG FREE TRIAL',sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: #FFFDFD;
    position: relative;

}

/*.iconTime::before{

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        content:url(images/agenda.svg);
}

.iconTime{
    padding-left: 14px;
}
*/
.about-section{
   margin-top: 477px;
    display: flex;
    padding-left: 52px;
    gap: 69px;
}


.about-section .left h2
{
    font-family: 'DEBUG FREE TRIAL',sans-serif;
    font-weight: 400;
    font-size: 100px;
    line-height: 90px;
    text-align: center;
    margin: 0;
    color:#FFFFFF;
}
.about-section p{
    font-family: 'Swansea',sans-serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    padding-left: 17px;
    color:#FFFFFF;
}

.agenda-section{
     margin-top: 400px;
 }

.agenda-section h2{
    font-family: 'DEBUG FREE TRIAL',sans-serif;
    font-weight: 400;
    font-size: 100px;
    line-height: 90px;
    text-align: center;
    color: #FFFFFF;
}

.agenda-section h5{
    font-family: 'DEBUG FREE TRIAL',sans-serif;
    font-weight: 400;
    font-size: 60px;
    line-height: 54px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.agenda-section p{
    font-family: 'Swansea',sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 10px;
    text-align: center;
    color: var(--pink-color);
}

.agenda-section .days{
    gap:171px;
    display: flex;

}

.about-section .right{
    background:#171330;;
    border-radius: 24px;
}